[project]
	description = A rackspace first gen api client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sumanth (sumanthns)
[access "refs/for/refs/*"]
	read = group user/Sumanth (sumanthns)
	push = group user/Sumanth (sumanthns)
	label-Code-Review = -2..+2 group user/Sumanth (sumanthns)
	label-Verified = -1..+1 group user/Sumanth (sumanthns)
	rebase = group user/Sumanth (sumanthns)
	removeReviewer = group user/Sumanth (sumanthns)
	submit = group user/Sumanth (sumanthns)
[access "refs/heads/*"]
	read = group user/Sumanth (sumanthns)
	create = group user/Sumanth (sumanthns)
	push = +force group user/Sumanth (sumanthns)
	pushMerge = group user/Sumanth (sumanthns)
[access "refs/tags/*"]
	push = group user/Sumanth (sumanthns)
	push = +force group user/Sumanth (sumanthns)
